html 
  head 
    title=title 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
  body 
  
  div(class="container")
  <center><div class='well'><b>Student Details</b></div></center>
  table(class='table table-stripped')
   thead 
    tr 
     th Name 
     th Roll No 
   each item in items 
     tr 
      td=item.name 
      td=item.roll_no